<nav class="navbar">
  <div class="logo">
    <div>
      <svg class="logo-dev" si-htmx-icon></svg>
    </div>
    <div>
      <div class="logo-title">DvAndresGT</div>
      <div class="logo-subtitle">TI · Software & Hardware</div>
    </div>
  </div>

  <!-- nav.component.html -->
  <div class="nav-bar">
    <div class="nav">
      <div class="nav-list">
        <a
          class="nav-item"
          *ngFor="let item of navItems"
          [routerLink]="item.route"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <div class="nav-item-name">{{ item.name | translate }}</div>
          <div class="nav-item-hover"></div>
        </a>
      </div>
    </div>
  </div>

  <div class="lang-switch">
    <button (click)="switchLang('es')">ES</button>
    <span>|</span>
    <button (click)="switchLang('en')">EN</button>
  </div>
</nav>
